<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">       
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>e-Manager | Login</title>
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
       <link rel = "stylesheet" href="style.css">
       <link href="https://fonts.googleapis.com/css?family=Acme|Anton|Fugaz+One|Great+Vibes|Parisienne|Satisfy" rel="stylesheet">
       <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
       
   </head>
   <body>
      <header>
            <div class = "container">
                <div id = "branding">
                    <h1><span class = "highlight">e</span>-Manager</h1>
                </div>
                <nav id= "navbar1">
                    <div class = "navigator">
                        <ul>
                            <li><a href = "index.html">Home</a></li>
                            <li><a href = "about.html">About us</a></li>
                            <li><a href = "service.html">Service</a></li>
                            <li><a href = "contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <div class = "register">
                        <ul>
                            <li><a href = "signup.html">Sign-up</a></li>
                            <li class = "current"><a href = "login.html">Log-in</a></li>
                        </ul>
                    </div>
                </nav>
    
                <nav id="navbar2">
                    <div id="sidebar">
                        <div id = "sidebar_content">
                            <ul>
                                <li class = "current"><a href = "index.html">Home</a></li>
                                <li><a href = "about.html">About us</a></li>
                                <li><a href = "service.html">Service</a></li>
                                <li><a href = "contact.html">Contact us</a></li>
                                <li><a href = "signup.html">Sign-up</a></li>
                                <li class = "current"><a href = "login.html">Log-in</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="togglebtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                </nav>    
            </div>
      </header>
      
      <!--Login Section -->
      <section id = "login">
            <div class = "container">
                <h1>Login</h1>
                <form>
                    <label for="username"></label>
                    <input type="text" name="username" id="username" class="fa" placeholder="&#xf007  Username">
                    <br><br>
                   
                    <label for="password">
                    <input type="password" name ="password" id="password" class="fa" placeholder ="&#xf084  Password">
                    </label>
                    <br><br>

                    <label for="remember">
                    <input type="checkbox" name="remember" id ="remember">
                    <span id ="remember">Remember me</span>
                    </label>
                    <br><br>

                   <button type="submit" id="submit"> <i class="fa fa-sign-in"></i> Login</button>
                   <a href="signup.html">Create an Account?</a>
                </form>
            </div>
      </section>

      <footer >
        <p>&copy; 2017 TmD </p>
      </footer>
      <script src="script/script.js"></script>
    </body>
</html>