<!DOCTYPE html>
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EM-Manager | View-Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Anton|Fugaz+One|Great+Vibes|Parisienne|Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand"><img src="./images/logo2.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link active" href="viewCenter.html">View-Center<span class="sr-only">(current)</span></a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    
<section id="viewTable">
    <div class="">
        <h1>View Center</h1>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <td colspan="7" class="text-right" id="add_center" data-toggle="modal" data-target="#exampleModal"><a>Add-Center</a></td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add center</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <fieldset>
                                            <label for="centerName">Center-Name:  </label>
                                            <input type="text" name="centerName" id="centerName"  placeholder="Center-Name">
                                            <br><br>
                                            
                                            <label for="centerPrice">Center-Price(#) : </label>
                                            <input type="tel" name="centerPrice" id="centerPrice"  placeholder="Center-Price">
                                            <br><br>
                        
                                            <label for="Location">Location : </label>
                                            <select name="Location">
                                                    <option value="lag">Lagos</option>
                                                    <option value="ib">Ibadan</option>
                                                    <option value="abj">Abuja</option>
                                            </select>
                                            <br><br>
                        
                                            <label for="img">Images: </label>
                                            <input type="file" name="img" id="img"  placeholder="">
                                            <br><br>
                                            <br><br>
                        
                                            <button type="submit" id="addCenterBtn">Add Center</button>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                </tr>
                <tr>
                    <td>S/N</td>
                    <td>Center-Name</td>
                    <td>Center-Price</td>
                    <td>Location</td>
                    <td>No of Event</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>1</td>
                    <td>Eko-Suite</td>
                    <td>150,000</td>
                    <td>Lagos</td>
                    <td>3 &nbsp; &nbsp; <a class="fa">&#xf0c1</a></td>
                    <td class="modal_editCenter"><a class="fa">&#xf044</a></td>
                    <td class="modal_delCenter"><a class="fa">&#xf00d</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Oriental</td>
                    <td>150,000</td>
                    <td>Lagos</td>
                    <td>5 &nbsp; &nbsp; <a class="fa">&#xf0c1</a></td>
                    <td class="modal_editCenter"><a class="fa">&#xf044</a></td>
                    <td class="modal_delCenter"><a class="fa">&#xf00d</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Abc Event</td>
                    <td>150,000</td>
                    <td>Lagos</td>
                    <td>5 &nbsp; &nbsp; <a class="fa">&#xf0c1</a></td>
                    <td class="modal_editCenter"><a class="fa">&#xf044</a></td>
                    <td class="modal_delCenter"><a class="fa">&#xf00d</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Coolsuite </td>
                    <td>150,000</td>
                    <td>Lagos</td>
                    <td>4 &nbsp; &nbsp; <a class="fa">&#xf0c1</a></td>
                    <td class="modal_editCenter"><a class="fa">&#xf044</a></td>
                    <td class="modal_delCenter"><a class="fa">&#xf00d</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
        
<footer>
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-sm-12">
                <h3>Connect</h3>
            </div>
            <div class="col-12 social padding">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
            <div class="col-sm-12">
                <p>&copy; 2018 TmD </p>
            </div>
        </div>
    </div>
</footer>        
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>